/*
No_Class | https://github.com/madebysnacks/No_Class
Snacks Studio | https://www.madebysnacks.com
*/
@font-face {font-family:'add_font_name_here'; src:url(fonts/font_file_name.ttf);}
:root {
    --font-primary:         Helvetica, Arial, sans-serif;
    --font-secondary:       serif;
    --rem-base:             16px;

    --clr-primary:        #FFFFFF;
    --clr-secondary:      #F9F9FB;
    --clr-tertiary:       #DDDDDD;
    --clr-accent:         #163bdd;
    --clr-bg:             #1D1D1D;
    --clr-fill:           #fff396;

    --spc-xl:             5rem;
    --spc-lg:             3rem;
    --spc-md:             2.5rem;
    --spc-sm:             1.25rem;
    --spc-xs:             0.875rem;
    
    --border-color:         var(--clr-secondary);
    --border-radius:        0.25rem;

    --animation-duration:   0.1s;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
-moz-::selection, -webkit-::selection, ::selection {
    color: var(--clr-primary);
    background: var(--clr-bg);
}
[hidden] {display:none;}
html {
    font-size: var(--rem-base);
    scroll-behavior: smooth;
    scrollbar-width: thin;
    -ms-touch-action: manipulation;
    text-rendering: optimizeLegibility;
    touch-action: manipulation;
    -webkit-text-size-adjust: 100%;
    -webkit-touch-callout: none;
    width: 100vw;
}
body {
    font-family: var(--font-primary);
    line-height: 1.4;
    overflow-x: hidden;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
	overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}
a, button, input[type="submit"], input[type="reset"], input[type="button"] {
    border: none;
    box-shadow: none;
    color: inherit;  
    cursor: pointer;
    display: inline-block;
    font-style: inherit;
    margin: 0;
    outline: 0;
    -webkit-tap-highlight-color: var(--clr-accent);
}
button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled] {
    cursor: not-allowed;
	opacity: 0.5;
}
a {
    color: dodgerblue;
    text-decoration: underline;
}
    a:hover {
        color: var(--clr-accent);
    }
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.01em;
    padding-top: 0.875rem;
}
h1 {font-size: 40px; line-height: 1.1;}
h2 {font-size: 32px; line-height: 1.125;}
h3 {font-size: 28px; line-height: 1.135;}
h4 {font-size: 24px; line-height: 1.18;}
h5 {font-size: 21px; line-height: 1.1;}
h6 {font-size: 19px; line-height: 1.21;}
abbr {
    position: relative;
    border-bottom: 1px dotted;
    cursor: default;
}
    abbr:hover::after {
        content: attr(data-title);
        position: absolute;
        font-size: 1rem;
        bottom: 100%;
        left: 50%;
        display: block;
        padding: 0.5rem 0.7rem;
        background: var(--clr-secondary);
        border-radius: var(--border-radius);
        color: var(--clr-primary);
        width: 10rem;
    }
address {
    font-size: 1.1rem;
}
article {
    margin: 0;
}
aside {
    margin: 0;
}
main {
    margin: 0;
}
section {
    margin: 0;
}
audio {
    margin: 0;
}
b {
    font-size: inherit;
    font-weight: 600;
}
blockquote, q {
    margin: 0;
    quotes: none;
}
br {
    margin: 0;
}
button,
input[type=submit],
input[type=reset] {
    background: var(--clr-secondary);
    border: 1px solid var(--clr-tertiary);
    border-radius: var(--border-radius);
    font-size: 1rem;
    padding: 0.1rem 0.4rem;
    border-radius: 3rem;
}
    button:hover,
    input[type=submit]:hover,
    input[type=reset]:hover {
        background: var(--clr-primary);
    }
canvas, figure, img, picture, video, svg {
    margin: 0;
    max-width: 100%;
}
caption {
    margin: 0;
}
cite {
    margin: 0;
}
code, samp {
    display: inline-block;
    margin: 0;
}
code {
    background: var(--clr-secondary);
    border: 1px solid var(--clr-tertiary);
    border-radius: var(--border-radius);
    font-size: 0.9rem;
    padding: 0.1rem 0.4rem;
    position: relative;
    top: -0.1rem;
}
datalist {
    margin: 0;
}
del {
    background: var(--clr-tertiary);
    margin: 0;
}
details {
    margin: 0;
}
    details summary {
        font-weight: bold;
        cursor: pointer;
    }
    details[open] {
        padding-bottom: 0.75rem;
    }
        details[open] summary {
            margin-bottom: 6px;
        }
    details > :last-child {
        margin-bottom: 0;
    }
    summary::-webkit-details-marker {
        color: var(--clr-secondary);
    }
dfn {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
dialog {  
    background: var(--clr-tertiary);
    border: 1px solid var(--clr-secondary);
    border-radius: 1rem;
    border: 2px solid;
    box-shadow: 0 0 3rem rgba(0,0,0,0.2);
    flex-flow: column nowrap;
    font-family: var(--font-primary);
    padding: 1rem;
    position: fixed;
    top: 2rem;
    width: 500px;
    z-index: 1;
}
dd {
	margin: 0;
    padding: 0;
}
    dd::before {
        content: '→ ';
    }
dt {
	font-weight: 600;
}
fieldset {border-color:var(--clr-secondary);}
    fieldset legend {font-weight:bold; padding:0 1rem 0 0;}
    fieldset:hover {background:rgba(255, 192, 204, 0.1);}
        fieldset:hover legend {padding:0 0 0 1rem;}
    fieldset ul {margin: 0; padding:0 0 0 1rem;}
figcaption {
    margin: 0;
}
footer {
    margin: 0;
}
form {
    margin: 0;
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
    form div {
        margin: 0 0 var(--spc-xs);
        width: 50%;
    }
    form div > label {
        display: flex;
        font-weight: 600;
        margin-bottom: 0.25rem;
    }
    form input[type=text],
    form input[type=email],
    form input[type=tel],
    form textarea {
        background: var(--clr-secondary);
        border: 1px solid var(--clr-tertiary);
        border-radius: var(--border-radius);
        padding: 1px 2px;
        min-width: 50%;
    }
    form textarea {min-height: var(--spc-md);}
    form input[type=radio],
    form input[type=radio] + label,
    form input[type=checkbox],
    form input[type=checkbox] + label {
        display: inline-flex;
    }
    form input[type=submit],
    form input[type=reset] {
        display: inline-flex;
        margin: 0 0.5rem 0 0;
        padding: 0.2rem 1rem;
    }
    form br + label,
    form input[type=text] + label,
    form input[type=email] + label {
        margin-top: var(--spc-xs);
    }
kbd {
    background: var(--clr-tertiary);
    padding: 2px;
}
header {
    margin: 0;
}
hr {
    height: 1px;
    background: var(--clr-secondary);
}
input, button, textarea, select {
    font: inherit;
}
input, select, textarea {
	border: 1px solid transparent;
	box-shadow: none;
}
input[type='range']:focus {
    outline: none;
}
label {
    margin: 0;
}
legend {
    font-size: 0.6rem;
}
mark {
    background: var(--clr-fill);
}
meter {
    margin: 0;
}
nav {
    margin: 0;
}
ol, ul {
    list-style: default;
}
q {
    font-size: 2rem;
    line-height: 1.8rem;
    padding: 1rem;
    border-left: 5px dashed var(--clr-secondary);
    font-style: italic;
    margin: 1rem 0;
    background: rgba(255, 182, 193, .4);
}
p {
    font-size: 1.125rem;
    padding-top: 0.2rem;
}
progress {
    height: 1.5rem;
    margin: 0 0.5rem;
    position: relative;
    top: 0.2rem;
}
select {
    margin: 0;
}
select::-ms-expand {
    display: none;
}
span {
    margin: 0;
}
small {
    font-size: 0.875rem;
}
sub {
    position: relative;
    bottom: -0.25rem;
}
sup {
    position: relative;
    top: -0.25rem;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    white-space: nowrap;
    width: 100%
}
    table caption {
        text-align: left;
    }
    table td, table th {
        padding: 0.25rem;
        text-align: left;
        vertical-align: top;
        word-wrap: break-word;
    }
    table thead, table tfoot {
        border-bottom: 1px solid var(--clr-secondary);
    }
textarea {
    resize: vertical;
}
time {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2rem;
}

/* Single Template */

#myTemplate {
    background-color: DodgerBlue;
    border-radius: var(--border-radius);
    color: var(--clr-primary);
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
}

html:has(body #theme-toggle:checked) {
    color-scheme:               dark;
    --clr-primary:            #000;
    --clr-secondary:          #1D1D1F;
    --clr-tertiary:           #333333;
    --clr-accent:             magenta;
    --clr-bg:                 white;
    --clr-fill:               magenta;
}

/* Media Queries */

@media (prefers-reduced-motion: reduce) {html {scroll-behavior: auto;}}
@media screen and (min-width:768px) {
    :root {
        --spc-lg:         3.5rem;
        --spc-md:         3rem;
        --spc-sm:         1.5rem;
    }
    h1 {font-size: 48px; line-height: 1.1;}
    h2 {font-size: 40px; line-height: 1.1;}
    h3 {font-size: 32px; line-height: 1.12;}
    h4 {font-size: 28px; line-height: 1.42;}
}
@media screen and (min-width:1024px) {
    :root {
        --spc-lg:         4rem;
        --spc-md:         3.5rem;
        --spc-sm:         2rem;
    }
    h1 {font-size: 64px; line-height: 1.05;}
    h2 {font-size: 48px; line-height: 1.05;}
    h3 {font-size: 40px; line-height: 1.1;}
    h4 {font-size: 32px; line-height: 1.12;}
}
@media print {
    body, pre, code, summary, details, button, input, textarea, section, aside, nav, time, span, table {
        background-color: #FFFFFF;
    }
    body, h1, h2, h3, h4, h5, h6, pre, code, button, input, span, textarea, footer, summary, strong {
      color: #000000;
    }
}