/*
No_Class | https://github.com/madebysnacks/No_Class
Snacks Studio | https://www.madebysnacks.com
*/
@font-face {font-family:'add_font_name_here'; src:url(fonts/font_file_name.ttf);}
:root {
    --font-primary:         Helvetica, Arial, sans-serif;
    --font-secondary:       serif;
    --rem-base:             16px;

    --color-primary:        #FFFFFF;
    --color-secondary:      #F9F9FB;
    --color-tertiary:       #DDDDDD;
    --color-accent:         #163bdd;
    --color-bg:             #1D1D1D;
    --color-fill:           #fff396;

    --space-xl:             5rem;
    --space-lg:             3rem;
    --space-md:             2.5rem;
    --space-sm:             1.25rem;
    --space-xs:             0.875rem;
    
    --border-color:         var(--color-tertiary);
    --border-radius:        0.25rem;
    --pg-width:            1000px;

    --animation-duration:   0.1s;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
-moz-::selection, -webkit-::selection, ::selection {
    color: var(--color-primary);
    background: var(--color-bg);
}
[hidden] {display:none;}
html {
    font-size: var(--rem-base);
    scroll-behavior: smooth;
    scrollbar-width: thin;
    -ms-touch-action: manipulation;
    text-rendering: optimizeLegibility;
    touch-action: manipulation;
    -webkit-text-size-adjust: 100%;
    -webkit-touch-callout: none;
    width: 100vw;
}
body {
    font-family: var(--font-primary);
    line-height: 1.4;
    overflow-x: hidden;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
	overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}
a, button, input[type="submit"], input[type="reset"], input[type="button"] {
    border: none;
    box-shadow: none;
    color: inherit;  
    cursor: pointer;
    display: inline-block;
    font-style: inherit;
    margin: 0;
    outline: 0;
    -webkit-tap-highlight-color: var(--color-accent);
}
button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled] {
    cursor: not-allowed;
	opacity: 0.5;
}
a {
    color: dodgerblue;
    text-decoration: underline;
}
    a:hover {
        color: var(--color-accent);
    }
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.01em;
    padding-top: 0.875rem;
}
h1 {font-size: 40px; line-height: 1.1;}
h2 {font-size: 32px; line-height: 1.125;}
h3 {font-size: 28px; line-height: 1.135;}
h4 {font-size: 24px; line-height: 1.18;}
h5 {font-size: 21px; line-height: 1.1;}
h6 {font-size: 19px; line-height: 1.21;}
abbr {
    position: relative;
    border-bottom: 1px dotted;
    cursor: default;
}
    abbr:hover::after {
        content: attr(data-title);
        position: absolute;
        font-size: 1rem;
        top: 90%;
        width: 14rem;
        left: 60%;
        display: flex;
        padding: 0.5rem 0.7rem;
        background: var(--color-bg);
        border-radius: var(--border-radius);
        color: var(--color-primary);
    }
address {
    font-size: 1.1rem;
}
article {
    margin: 0;
}
aside {
    margin: 0;
}
    aside > h1,
    aside > h2,
    aside > h3,
    aside > h4,
    aside > h5,
    aside > h6 {
        margin: 0;
        padding: 0;
    }
main {
    margin: 0;
}
section {
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}
audio {
    margin: 0;
}
b, q {
    font-size: inherit;
    font-weight: 600;
}
blockquote {
    margin: 1rem 0 0;
    padding: 0.5rem;
    background: var(--color-secondary);
    border-left: 4px solid var(--color-tertiary);
}
    blockquote span {
        font-size: 2rem;
        font-style: italic;
        font-weight: 600;
    }
    blockquote span::before {
        content: '\201C';
    }
    blockquote span::after {
        content: '\201D';
    }
    blockquote footer {
        padding: 0;
        margin: 0;
        background: none;
        border: none;
        font-size: 0.9rem;
    }
br {
    margin: 0;
}
button,
input[type=submit],
input[type=reset] {
    background: var(--color-secondary);
    border: 1px solid var(--color-tertiary);
    border-radius: var(--border-radius);
    font-size: 1rem;
    padding: 0.1rem 0.4rem;
    border-radius: 3rem;
}
    button:hover,
    input[type=submit]:hover,
    input[type=reset]:hover {
        background: var(--color-primary);
    }
canvas, figure, img, picture, video, svg {
    margin: 0;
    max-width: 100%;
}
caption {
    margin: 0;
}
cite {
    margin: 0;
}
code, samp {
    display: inline-block;
    margin: 0;
}
code {
    background: var(--color-secondary);
    border: 1px solid var(--color-tertiary);
    border-radius: var(--border-radius);
    font-size: 0.9rem;
    padding: 0.1rem 0.4rem;
    position: relative;
    top: -0.1rem;
}
p code {
    display: inline-block;
}
datalist {
    margin: 0;
}
del {
    color: red;
    margin: 0;
}
details {
    margin: 0;
}
    details summary {
        font-weight: bold;
        cursor: pointer;
    }
    details[open] {
        padding-bottom: 0.75rem;
    }
        details[open] summary {
            margin-bottom: 6px;
        }
    details > :last-child {
        margin-bottom: 0;
    }
    summary::-webkit-details-marker {
        color: var(--color-secondary);
    }
dfn {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
dialog {  
    background: var(--color-secondary);
    border: 1px solid var(--color-tertiary);
    border-radius: var(--border-radius);
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    flex-flow: column nowrap;
    padding: 1rem 1rem 3rem;
    position: fixed;
    top: 2rem;
    margin: 0 auto;
    width: 100%;
    max-width: 640px;
    z-index: 1;

}
dialog[open] {
    opacity: 1;
    transform: translateY(2rem);
}
dialog {
    opacity: 0;
    transform: translateY(3rem);
    transition:
        opacity 0.2s ease-out,
        transform 0.2s ease-in-out,
        overlay 0.2s ease-out allow-discrete,
        display 0.2s ease-out allow-discrete;
}
  @starting-style {
    dialog[open] {
      opacity: 0;
      transform: translateY(3rem);
    }
  }
  dialog::backdrop {
    background-color: rgb(0 0 0 / 0%);
    transition:
      display 0.7s allow-discrete,
      overlay 0.7s allow-discrete,
      background-color 0.7s;
  }
  
  dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 25%);
  }
  
  @starting-style {
    dialog[open]::backdrop {
      background-color: rgb(0 0 0 / 0%);
    }
  }
    dialog button#exit {
        margin: 0 0 0 auto;
        display: flex;
        position: relative;
    }
    dialog button#exit::before {
        content: '×';
        font-size: 1.4rem;
        line-height: 1.2rem;
        position: relative;
        padding: 0 0.5rem 0 0;
        top: 0;
    }
    dialog h4 {
        margin: 0 0 var(--space-xs);
    }
dd {
	margin: 0;
    padding: 0;
}
    dd::before {
        content: '→ ';
    }
dt {
	font-weight: 600;
}
    fieldset legend {font-weight:bold; padding:0 1rem 0 0;}
        fieldset:hover legend {padding:0 0 0 1rem;}
    fieldset ul {margin: 0; padding:0 0 0 1rem;}
figcaption {
    margin: 0;
}
footer {
    background: var(--color-secondary);
    border-top: 1px solid var(--color-tertiary);
    padding: var(--space-sm) 0;
    margin: var(--space-xl) 0 0;
}
    footer main {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0 1rem;
    }
form {
    margin: 0;
    padding: 1rem;
    border: 1px solid var(--color-tertiary);
    border-radius: var(--border-radius);
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
    form fieldset {
        margin: 0 0 var(--space-xs);
        width: 100%;
        outline: none;
        border: none;
    }
    form fieldset > label {
        display: flex;
        font-weight: 600;
        margin-bottom: 0.25rem;
    }
    form fieldset > label:not(:first-of-type) {
        margin-top: var(--space-xs);
    }
    form select,
    form input[name=datalist],
    form input[type=text],
    form input[type=email],
    form input[type=tel],
    form textarea {
        background: var(--color-secondary);
        border: 1px solid var(--color-tertiary);
        border-radius: var(--border-radius);
        padding: 1px 2px;
        min-width: 100%;
    }
    form textarea {min-height: var(--space-md);}
    form input[type=radio],
    form input[type=radio] + label,
    form input[type=checkbox],
    form input[type=checkbox] + label {
        display: inline-flex;
    }
    form input[type=submit],
    form input[type=reset] {
        display: inline-flex;
        margin: 0 0.5rem 0 0;
        padding: 0.2rem 1rem;
    }
    form br + label,
    form datalist + label,
    form select + label,
    form input[type=text] + label,
    form input[type=email] + label {
        margin-top: var(--space-xs);
    }
kbd {
    background: var(--color-tertiary);
    padding: 0.1rem 0.4rem;
    font-size: 0.95rem;
    font-weight: 600;
    border-radius: var(--border-radius);
}
header {
    background: var(--color-secondary);
    margin: 0;
    padding-bottom: var(--space-md);
}
hr {
    height: 1px;
    background: var(--color-secondary);
}
input, button, textarea, select {
    font: inherit;
}
input, select, textarea {
    background: var(--color-secondary);
	border: 1px solid var(--color-tertiary);
    border-radius: var(--border-radius);
	box-shadow: none;
}
input[type='range']:focus {
    outline: none;
}
ins {
    color: green;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 600;
    text-decoration: none;
}
label {
    margin: 0;
}
legend {
    font-size: 0.6rem;
}
mark {
    background: var(--color-fill);
}
meter {
    margin: 0;
}
nav {
    margin: 0;
}
pre {
    display: flex;
    margin: 1rem 0 0;
}
pre > code {
    padding: 0.5rem;
    display: inline-block;
    overflow-x: auto;
    top: 0;
    -webkit-user-select: all;
    user-select: all;
}
pre > code + button {
    margin-left: 1rem;
}
ol, ul {
    list-style: default;
}
q {
    font-size: 2rem;
    line-height: 1.8rem;
    padding: 1rem;
    border-left: 5px dashed var(--color-secondary);
    font-style: italic;
    margin: 1rem 0;
    background: rgba(255, 182, 193, .4);
}
p {
    font-size: 1.125rem;
    padding-top: 0.2rem;
}
progress {
    height: 1.5rem;
    margin: 0 0.5rem;
    position: relative;
    top: 0.2rem;
}
select {
    margin: 0;
}
select::-ms-expand {
    display: none;
}
span {
    margin: 0;
}
small {
    font-size: 0.875rem;
}
sub {
    position: relative;
    bottom: -0.25rem;
}
sup {
    position: relative;
    top: -0.25rem;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    white-space: nowrap;
    width: 100%;
}
    table caption {
        text-align: left;
    }
    table td, table th {
        padding: 0.25rem 1rem 0.25rem 0.25rem;
        text-align: left;
        vertical-align: top;
        word-wrap: break-word;
    }
    table thead, table tfoot {
        border-bottom: 2px solid var(--color-tertiary);
    }
    table tfoot {
        font-size: 0.8rem;
    }
    table tfoot td {
        padding: var(--space-xs) 0;
    }
    table tr {
        border-bottom: 1px solid var(--color-tertiary);
    }
    table tr:nth-of-type(2n) {
        background: var(--color-secondary);
    }
    table tr th {
        border-bottom: 2px solid var(--color-tertiary);
    }
textarea {
    resize: vertical;
}
time {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2rem;
}

html:has(body #theme-toggle:checked) {
    color-scheme:              dark;
    --color-primary:            #000;
    --color-secondary:          #1D1D1F;
    --color-tertiary:           #333333;
    --color-accent:             magenta;
    --color-bg:                 white;
    --color-fill:               magenta;
}

/* Media Queries */

@media (prefers-reduced-motion: reduce) {html {scroll-behavior: auto;}}
@media screen and (min-width:768px) {
    :root {
        --space-lg:         3.5rem;
        --space-md:         3rem;
        --space-sm:         1.5rem;
    }
    h1 {font-size: 48px; line-height: 1.1;}
    h2 {font-size: 40px; line-height: 1.1;}
    h3 {font-size: 32px; line-height: 1.12;}
    h4 {font-size: 28px; line-height: 1.42;}
    form fieldset {
        width: 50%;
    }
    form select,
    form input[name=datalist],
    form input[type=text],
    form input[type=email],
    form input[type=tel],
    form textarea {
        min-width: 75%;
    }
}
@media screen and (min-width:1024px) {
    :root {
        --space-lg:         4rem;
        --space-md:         3.5rem;
        --space-sm:         2rem;
    }
    h1 {font-size: 64px; line-height: 1.05;}
    h2 {font-size: 48px; line-height: 1.05;}
    h3 {font-size: 40px; line-height: 1.1;}
    h4 {font-size: 32px; line-height: 1.12;}
}
@media print {
    body, pre, code, summary, details, button, input, textarea, section, aside, nav, time, span, table {
        background-color: #FFFFFF;
    }
    body, h1, h2, h3, h4, h5, h6, pre, code, button, input, span, textarea, footer, summary, strong {
      color: #000000;
    }
}